* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.join {
  background-color:white;
  border-style: solid;

  border-color: rgb(41,118,211);
  border-width: 1px;
  color: rgb(41,118,211) ;
  border-radius: 2px;
  height: 36px;
  width: 62px;
  cursor: pointer;
  margin: 50px;
  
}
.tweet{
    background-color: rgb(86, 86, 243);
    color: white;
    border: none;
    margin-top: 50px;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    margin: 50px;
    font-weight: bold;
    font-size: 15px;

}
